{% extends "admin:admin/index.html" %}

{% block extrastyle %}{{ block.super }}<style type="text/css">span.helptext { display:block; font-size:80%; color:#555; }</style>{% endblock %}

{% block content %}
<div id="content-main">
    {% if success %}<div class="system-message">L'importation a été effectuée.</div>{% endif %}
    <span class="helptext">< <a href="/admin">Retour à l'accueil</a></span>
    <p>Ce formulaire vous permet d'effectuer l'importation de données ferroviaires depuis les données fournies mensuellement sur <a href="https://data.sncf.com/explore/">le portail Open Data SNCF</a>.</p>
    <form action="{% url 'gtfs-import' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Importer</button><span class="helptext">Ce processus prendra beaucoup de temps.</span>
    </form>
</div>
{% endblock %}
