{% extends 'main/base.html' %} {% block title %}Mot de passe{% endblock %} {% block content %}
<div class="bloc_connexion pt-0">
    <div class="container">
        <div class="row justify-content-md-center titre_bandeau mb-3">
            <h4 class="text-center">Modifier le mot de passe</h4>
        </div>
    </div>
    <form method="post">
        {% csrf_token %} {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class="form-group">
            <input name="old_password" type="password" class="form-control" placeholder="Mot de passe actuel" required="" />
        </div>
        <div class="form-group">
            <input name="new_password1" type="password" class="form-control" placeholder="Nouveau mot de passe" required="" />
        </div>
        <div class="form-group">
            <input name="new_password2" type="password" class="form-control" placeholder="Confirmation du mot de passe" required="" />
        </div>
        <button class="btn btn-lg btn-info btn-block w-75 mx-auto mt-3 mb-0" type="submit">Mettre à jour</button>
    </form>
</div>
{% endblock %}
