{% extends 'main/base.html' %} {% block title %}Ajout{% endblock %} {% block content %}
<div class="bloc_connexion pt-0">
    <div class="container">
        <div class="row justify-content-md-center titre_bandeau mb-3">
            <h4 class="text-center">{{ edit|yesno:"Éditer,Ajouter,Ajouter" }} un passager</h4>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %} {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class="form-group form-inline">
            <div class="input-group text-center">
                <span id="addon-prenom" class="input-group-addon">Prénom </span>
                <input id="id_first_name" name="first_name" type="text" required="" class="form-control"
                    placeholder="Prénom" required="" value="{{ first_name|default:"" }}" aria-describedby="addon-prenom"/>
            </div>
        </div>
        <div class="form-group form-inline">
            <div class="input-group text-center">
                <span id="addon-nom" class="input-group-addon">Nom </span>
                <input id="id_last_name" name="last_name" type="text" required="" class="form-control"
                    placeholder="Nom" required="" value="{{ last_name|default:"" }}" aria-describedby="addon-nom"/>
            </div>
        </div>
        
        <button class="btn btn-lg btn-info btn-block w-75 mx-auto mb-0" type="submit">{{ edit|yesno:"Éditer,Ajouter,Ajouter" }}</button>
    </form>
    {% endblock %}
