{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="bloc_cards">
	<div class="container">
		<div class="row justify-content-md-center titre_bandeau">
			<h4 class="text-center">Mon panier</h4>
		</div>
	</div>
	<div class="card-columns mt-4">
		{% for travel in cart.list_items %}
		<div class="card">
			<div class="card-header">
				{{ travel.obj.date }}
				<div class="pull-right">
					<a href="#" class="travel-modal" data-url="{% url 'travel_map' travel.obj.id %}"><i class="fa fa-map-marker bigger" aria-hidden="true"></i></a>
					&nbsp;
					<a class="supprimer" href="{% url 'cart_remove' travel.obj.id %}"><i class="fa fa-trash"></i></a>
				</div>
			</div>
			<ul class="list-group list-group-flush">
				{% for ticket in travel.obj.ticket_set.all %}
				<li class="list-group-item">
					<div><span class="hour">{{ ticket.start_halt.arrival }}</span>{{ ticket.start_halt.station }}</div>
					<div class="train">{{ ticket.start_halt.train.traintype }} <strong>{{ ticket.start_halt.train.number }}</strong></div>
					<div><span class="hour">{{ ticket.end_halt.arrival }}</span>{{ ticket.end_halt.station }}</div>
				</li>
				{% endfor %}
				<li class="list-group-item">
					<div class="price float-right">{{ travel.obj.price|stringformat:".2f" }} €</div>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user mr-3"></i>{{ travel.passengers }}</button>
							<div class="dropdown-menu">
								{% for passenger in travel.obj.passengers_aboard.all %}
									<div class="dropdown-item">{{ passenger }}</div>
								{% endfor %}
							</div>
						</div>
				</li>
			</ul>
		</div>
		{% empty %}
	</div>
		<div class="alert alert-info text-center">
			<h4>Votre panier est vide</h4>
		</div>
		{% endfor %}
	</div>
	{% if cart.count_items > 0 %}
	<div class="row">
		<div class="col">
			<a href="{% url "search" %}"><button type="button" class="btn btn-info pull-left btn-align-middle">Réserver un autre billet</button></a>
		</div>
		
		<div class="col"><a href="{% url "order" %}"><button type="button" class="btn btn-info btn-lg pull-right mb-0">Payer {{ total_price|stringformat:".2f" }} €</button></a></div>
	</div>
	{% endif %}
	<script type="text/javascript" src="{% static 'main/js/searchResult.js' %}"></script>
</div>

{% endblock %}
