{% extends 'main/base.html' %} {% block content %}

<div class="bloc_cards mb-5">
	<h4 class="text-center"> Itinéraire de Douai à Lille</h4>
	<div class="card-columns">
		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item text-center">
					<div class="price">234,63€</div>
					<button type="button" class="btn btn-primary">Réserver</button>
				</li>
			</ul>
		</div>
		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item text-center">
					<div class="price">234,63€</div>
					<button type="button" class="btn btn-primary">Réserver</button>
				</li>
			</ul>
		</div>
		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item text-center">
					<div class="price">234,63€</div>
					<button type="button" class="btn btn-primary">Réserver</button>
				</li>
			</ul>
		</div>
		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item text-center">
					<div class="price">234,63€</div>
					<button type="button" class="btn btn-primary">Réserver</button>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
