{% extends 'main/base.html' %} {% block content %}

<div class="bloc_cards mb-5">
	<h4 class="text-center"> Itinéraire de {{ start_station.name }} à {{ end_station.name }}</h4>
	<div class="card-columns">
		{% for travel in travels %}
		<div class="card">
				<ul class="list-group list-group-flush">
					{% for ticket in travel.ticket_set.all %}
					<li class="list-group-item">
						<div><span class="hour">{{ ticket.start_halt.arrival }}</span>{{ ticket.start_halt.station }}</div>
						<div class="train">{{ ticket.start_halt.train.traintype }} <strong>{{ ticket.start_halt.train.number }}</strong></div>
						<div><span class="hour">{{ ticket.end_halt.arrival }}</span>{{ ticket.end_halt.station }}</div>
					</li>
					{% endfor %}
					<li class="list-group-item">
							<div class="price float-right">{{ travel.total_price|stringformat:".2f" }} €</div>
						<div class="mt-1">{{ travel.passengers }} passagers</div>
						<div class="clearfix"></div>
						<a href="#" class="btn btn-primary mx-auto d-block">Réserver</a>
					</li>
				</ul>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
