{% extends 'main/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}" />
<div class="bloc_connexion">
    <form class="form m-0" action="{% url 'search' %}" method="post">
        {% csrf_token %}
        {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</p>
        {% endfor %}
        <div class="input-stack mb-3">
            <input id="startStation" type="text" class="form-control form-control-lg" placeholder="Gare de départ" name="startStation" />
            <input id="endStation" type="text" class="form-control form-control-lg" placeholder="Gare d'arrivée" name="endStation" />
        </div>
        <input type="text" id="date" class="form-control form-control-lg mb-3" placeholder="Date du voyage" min="{% now " Y-m-d " %}" name="travelDate" required>
        <div class="form-row justify-content-end">
            <div class="form-group col-sm-8 col-12 text-sm-right text-center mt-1 form-options">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="timeOptions" id="timeOption1" value="DEPART_AFTER" required /> Partir après
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="timeOptions" id="timeOption2" value="ARRIVE_BEFORE" required /> Arriver avant
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-4 col-12">
                <select class="custom-select form-control-lg d-block w-100" name="hour" required>
                    {% for h in hours %}
                        <option value={{h}}>{{h|stringformat:"02d"}}:00</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            {% if user.is_authenticated %}
                <div class="col-sm-6 col-12">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp;Passagers</button>
                    <div class="dropdown-menu">
                        {% for passenger in passengers %}
                            <div class="dropdown-item">
                                <label for="passenger{{ passenger.id }}"><input type="checkbox" name="passengers" id="passenger{{ passenger.id }}" value="{{ passenger.id }}"> {{ passenger }}</label>
                            </div>
                        {% endfor %}
                        {% if passengers.count == 1 %}
                        <div class="dropdown-item" style="width: 300px; white-space: normal; color: #333; font-size: 80%">
                            Vous pouvez ajouter des passagers via l'onglet "Passagers" dans votre menu utilisateur.
                        </div>
                        {% endif %}
                    </div>
                </div></div>
            {% endif %}
            <div class="col-sm-6 col-12 mb-0 d-inline-block mx-auto">
                <button type="submit" class="btn btn-info d-block w-100 mb-0">Rechercher</button>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'main/js/search.js' %}"></script>
{% endblock %}
