{% extends 'main/base.html' %}

{% block content %}
<div class="bloc_connexion">
  <form method="post" class="m-0">
    {% csrf_token %}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
    <input id="id_username" name="username" type="text" class="form-control w-75 mx-auto mb-2" placeholder="Nom d'utilisateur" required="" autofocus=""
    />
    <input id="id_first_name" name="first_name" type="text" class="form-control w-75 mx-auto mb-2" placeholder="Prénom" required="" />
    <input id="id_last_name" name="last_name" type="text" class="form-control w-75 mx-auto mb-2" placeholder="Nom de famille" required="" />
    <input id="id_email" name="email" type="email" class="form-control w-75 mx-auto mb-2" placeholder="E-mail" required="" />
    <input id="id_password1" name="password1" type="password" class="form-control w-75 mx-auto mb-2" placeholder="Mot de passe" required="" />
    <input id="id_password2" name="password2" type="password" class="form-control w-75 mx-auto mb-2" placeholder="Confirmation mot de passe" required="" />
    <button class="btn btn-lg btn-primary btn-block w-75 mx-auto mb-0" type="submit">Inscription</button>
  </form>
</div>
{% endblock %}
