{% extends 'main/base.html' %} {% block content %}

<div class="bloc_cards">
	<h4 class="text-center">Mes billets</h4>
	<div class="card-columns">
		<div class="card">
			<div class="card-header">
				<div class="float-right">
					<i class="fa fa-print bigger" aria-hidden="true"></i>
				</div>
				Jeudi 31 février 2017
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
					<span>2 passagers</span>
					<div class="price float-right">234,63€</div>
				</li>
			</ul>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="float-right">
						<i class="fa fa-print bigger" aria-hidden="true"></i>
				</div>
				Lundi 1 janvier 2020
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
						<span>1 passager</span>
						<div class="price float-right">234,63€</div>
					</li>
			</ul>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="float-right">
					<i class="fa fa-print bigger" aria-hidden="true"></i>
				</div>
				Mercredi 2 juin 2023
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div><span class="hour">17h02</span> Douai</div>
					<div class="train">Train TER <strong>843801</strong></div>
					<div><span class="hour">18h02</span> Lille</div>
				</li>
				<li class="list-group-item">
						<span>3 passagers</span>
						<div class="price float-right">234,63€</div>
					</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
