{% extends 'main/base.html' %} {% block content %}

<div class="bloc_cards">
	<h1 class="text-center titre">Mes billets</h1>
	<div class="card-columns">
		
		
		{% for travel in travel_set %}
		<div class="card">
			<div class="card-header">
				<div class="float-right">
					<a href="{% url 'print_ticket' travel.id %}"><i class="fa fa-print bigger" aria-hidden="true"></i></a>
				</div>
				{{ travel.date }}
			</div>
			<ul class="list-group list-group-flush">
				{% for ticket in travel.ticket_set.all %}
				<li class="list-group-item">
					<div><span class="hour">{{ ticket.start_halt.arrival }}</span>{{ ticket.start_halt.station }}</div>
					<div class="train">{{ ticket.start_halt.train.traintype }} <strong>{{ ticket.start_halt.train.number }}</strong></div>
					<div><span class="hour">{{ ticket.end_halt.arrival }}</span>{{ ticket.end_halt.station }}</div>
				</li>
				{% endfor %}
				<li class="list-group-item">
					<span>{{ travel.passengers }} passager{{ travel.passengers|pluralize }}</span>
					<div class="price float-right">{{ travel.price|stringformat:".2f" }} €</div>
				</li>
			</ul>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
