{% extends 'main/base.html' %}
{% block content %}

<h4 class="text-center"> Itinéraire de Douai à Lille</h4>
<div class="card-columns">
	<div class="card">
		<div class="card-header">
		 	Jeudi 31 février 2017
  		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div><span class="hour">17h02</span> Douai</div>
				<div class="train">Train TER <strong>843801</strong></div>
				<div><span class="hour">18h02</span> Lille</div>
			</li>
			<li class="list-group-item text-center">
				<div class="price">234,63€</div>
				<button type="button" class="btn btn-secondary">Imprimer</button>
			</li>
		</ul>
	</div>
	<div class="card">
		<div class="card-header">
    		Lundi 1 janvier 2020
  		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div><span class="hour">17h02</span> Douai</div>
				<div class="train">Train TER <strong>843801</strong></div>
				<div><span class="hour">18h02</span> Lille</div>
			</li>
			<li class="list-group-item">
				<div><span class="hour">17h02</span> Douai</div>
				<div class="train">Train TER <strong>843801</strong></div>
				<div><span class="hour">18h02</span> Lille</div>
			</li>
			<li class="list-group-item">
				<div><span class="hour">17h02</span> Douai</div>
				<div class="train">Train TER <strong>843801</strong></div>
				<div><span class="hour">18h02</span> Lille</div>
			</li>
			<li class="list-group-item text-center">
				<div class="price">234,63€</div>
				<button type="button" class="btn btn-secondary">Imprimer</button>
			</li>
		</ul>
	</div>
	<div class="card">
		<div class="card-header">
    		Mercredi 2 juin 2023
  		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div><span class="hour">17h02</span> Douai</div>
				<div class="train">Train TER <strong>843801</strong></div>
				<div><span class="hour">18h02</span> Lille</div>
			</li>
			<li class="list-group-item text-center">
				<div class="price">234,63€</div>
				<button type="button" class="btn btn-secondary">Imprimer</button>
			</li>
		</ul>
	</div>
</div>

{% endblock %}