body {
    background-color: #DADADA;
}
div.global {
    max-width: 800px;
    margin: 2em auto 0 auto;
}
div.input-stack input { border-radius: 0; }
div.input-stack input:first-child {
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px;
}
div.input-stack input:last-child {
    border-radius: 0 0 5px 5px;
}
nav.navbar ul.navbar-nav a.nav-link, button.btn {
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}
nav.navbar ul.navbar-nav a.nav-link { color: white; }
nav.navbar ul.navbar-nav li.nav-item { margin: 0 1em; }

nav.navbar ul.navbar-nav li.nav-item:hover,
nav.navbar ul.navbar-nav li.nav-item.active { background-color: white; }

nav.navbar ul.navbar-nav li.nav-item:hover a.nav-link,
nav.navbar ul.navbar-nav li.nav-item.active a.nav-link { color: #212529; }

nav.navbar ul.navbar-nav li.nav-item i {
    font-size: 140%;
    margin-right: 0.5em;
    color: #17A2B8;
}

.price {
    font-size: 150%;
    text-align: center;
}

.hour {
font-size: 130%;
margin-right: 10px;
}

.train {
    margin-left: 15px;
}

.card-columns {
    column-count: 2;
}