body {
    background-image: url("../img/bg.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
div.global {
    max-width: 800px;
    margin: 2em auto 0 auto;
}
div.input-stack input { border-radius: 0; }
div.input-stack input:first-child {
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px;
}
div.input-stack input:last-child {
    border-radius: 0 0 5px 5px;
}
nav.navbar ul.navbar-nav a.nav-link, button.btn {
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}
nav.navbar ul.navbar-nav a.nav-link { color: white; }
nav.navbar ul.navbar-nav li.nav-item { margin: 0 1em; }

nav.navbar ul.navbar-nav li.nav-item:hover,
nav.navbar ul.navbar-nav li.nav-item.active,
nav.navbar ul.navbar-nav li.nav-item.dropdown.show { background-color: white; }

nav.navbar ul.navbar-nav li.nav-item:hover a.nav-link,
nav.navbar ul.navbar-nav li.nav-item.active a.nav-link,
nav.navbar ul.navbar-nav li.nav-item.dropdown.show a.nav-link { color: #212529; }

nav.navbar ul.navbar-nav li.nav-item i {
    font-size: 140%;
    margin-right: 0.5em;
    color: #17A2B8;
}

.price {
    font-size: 150%;
    text-align: center;
}

.hour {
font-size: 130%;
margin-right: 10px;
}

.train {
    margin-left: 15px;
}

.card-columns {
    column-count: 2;
}

.bloc_erreurs {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    width: 50rem;
    border: 1px solid #0D6BAA;
    text-align: center;
    padding: 2em;
    margin: 5em auto 0;
    border-radius: 20px;
}

.bloc_erreurs h1, .bloc_erreurs h2, .bloc_erreurs h3, 
.bloc_erreurs h4, .bloc_erreurs h5, .bloc_erreursh6, .bloc_erreursp {
    font-size: 300%;
    color: #0A003F;
    text-shadow: 2px 2px white
}

.bloc_cards, .bloc_connexion{
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2em;
    margin: 5em auto 0;
    border-radius: 10px;
}

.bloc_cards{
    width: 45rem;
    border: 1px solid #0D6BAA;
}

.bloc_connexion {
    width: 30rem;
    border: 1px solid #0D6BAA;
    text-align: center;
}

.bloc_connexion ul, .bloc_connexion ol, .bloc_connexion li {
    padding: 0;
    list-style: none;
}

.bloc_connexion a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.bloc_connexion h2 {
    margin-bottom: 1em;
}

.titre {
    background-color: rgba(255, 255, 255, 0.5);
    color:  white;
    /*text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;*/
    margin-bottom: 1em;
}

.card {
    margin-bottom: 1.5em;
}

.passager .fa-pencil, .passager .editer{
    color: #17A2B8;
}

.passager .fa-trash, .passager .supprimer{
    color: red;
}

.bigger {
    font-size: 1.21em;
}
