body {
    background-image: url("../img/bg.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
div.global {
    max-width: 800px;
    margin: 2em auto 0 auto;
}
nav.navbar ul.navbar-nav a.nav-link, button.btn {
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}
nav.navbar ul.navbar-nav a.nav-link { color: white; }
nav.navbar ul.navbar-nav li.nav-item { margin: 0 1em; }

nav.navbar ul.navbar-nav li.nav-item:hover,
nav.navbar ul.navbar-nav li.nav-item.active,
nav.navbar ul.navbar-nav li.nav-item.dropdown.show { background-color: white; }

nav.navbar ul.navbar-nav li.nav-item:hover a.nav-link,
nav.navbar ul.navbar-nav li.nav-item.active a.nav-link,
nav.navbar ul.navbar-nav li.nav-item.dropdown.show a.nav-link { color: #212529; }

nav.navbar ul.navbar-nav li.nav-item i {
    font-size: 140%;
    margin-right: 0.5em;
    color: #17A2B8;
}

.price { font-size: 150%; }
.hour { font-size: 130%; margin-right: 10px; }
.train { margin-left: 15px; }

.card-columns { column-count: 2; }
@media screen and (max-width: 768px) {
    .card-columns { column-count: 1; }
}

.bloc_erreurs {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    width: 50rem;
    border: 1px solid #0D6BAA;
    text-align: center;
    padding: 2em;
    margin: 5em auto 0;
    border-radius: 20px;
}
.bloc_erreurs h1, .bloc_erreurs h2, .bloc_erreurs h3, 
.bloc_erreurs h4, .bloc_erreurs h5, .bloc_erreurs h6, .bloc_erreursp {
    font-size: 300%;
    color: #0A003F;
    text-shadow: 2px 2px white
}

.bloc_cards, .bloc_connexion {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2em;
    margin: 5em auto 0;
    border-radius: 10px;
}

.bloc_cards {
    width: 45rem;
    padding-top: 0px;
}
.bloc_connexion {
    width: 30rem;
    text-align: center;
}

.bloc_connexion ul, .bloc_connexion ol, .bloc_connexion li {
    padding: 0;
    list-style: none;
}

.bloc_connexion a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.titre {
    background-color: rgba(255, 255, 255, 0.5);
    color:  white;
    /*text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;*/
    margin-bottom: 1em;
}

.titre_bandeau {
    color : white;
    background-color: #17a2b8;
    width: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.titre_bandeau h4 { margin: 10px; }

.form-options {
    border-radius: 5px;
    color: #17a2b8;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0.637em;
    font-size: 90%;
    margin-top: 0 !important;
}
#dropdownMenuButton { margin-bottom: 1em; }

@media screen and (min-width: 576px) {
    .form-options {
        border-top-right-radius: 0px; border-bottom-right-radius: 0px;
    }
    .bloc_connexion .justify-content-end .form-group:last-child {
        margin-left: 0; padding-left: 0;
    }
    .custom-select {
        border-top-left-radius: 0px; border-bottom-left-radius: 0px;
    }
    #dropdownMenuButton { margin-bottom: 0; }
}

.btn-align-middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.container {
    width: inherit;
    margin-left: -2em;
}

.card {
    margin-bottom: 1.5em;
}

.passager .fa-pencil, .passager .editer{ color: #17A2B8; }
.passager .fa-trash, .passager .supprimer{ color: red; }

.bigger { font-size: 1.21em; }
.btn-lg { font-size: 1.25em !important; }

.input-group {
    margin: 0 auto;
}

.input-group span {
    width: 5em;
    text-align: center;
    background-color: white;
    color: #17A2B8;
    font-weight: bold;
}

.input-group input {
    border-color: #D9D9D9;
}

#select_heure {
    height: auto;
    padding-bottom: 10px;
}

#map { height: 80vh; }
.modal #map { height: 70vh; }
.modal-dialog { max-width: initial; width: auto; margin: 10px; }

footer { text-align: center; color: white; font-weight: bold; }
footer a { color: white; text-decoration: underline; text-transform: uppercase; }

@media screen and (max-width: 45rem) {
    .bloc_cards, .bloc_connexion { width: 100%; padding-left: 1em; padding-right: 1em; }
    .titre_bandeau { width: calc(99% + 4em); }
    .row.titre_bandeau { margin-left: 0; margin-right: 0; }
}

.loader{color:#0d5763;position:fixed;box-sizing:border-box;left:-9999px;top:-9999px;width:0;height:0;overflow:hidden;z-index:999999}.loader:after,.loader:before{box-sizing:border-box}.loader.is-active{background-color:rgba(255,255,255,0.75);width:100%;height:100%;left:0;top:0}@keyframes rotation{from{transform:rotate(0)}to{transform:rotate(359deg)}}@keyframes blink{from{opacity:.5}to{opacity:1}}.loader[data-text]:before{position:fixed;left:0;top:50%;color:currentColor;font-family:Helvetica,Arial,sans-serif;text-align:center;width:100%;font-size:14px}.loader[data-text='']:before{content:'Loading'}.loader[data-text]:not([data-text='']):before{content:attr(data-text)}.loader[data-text][data-blink]:before{animation:blink 1s linear infinite alternate}.loader-default[data-text]:before{top:calc(50% - 63px)}.loader-default:after{content:'';position:fixed;width:48px;height:48px;border:solid 8px #17a2b8;border-left-color:transparent;border-radius:50%;top:calc(50% - 24px);left:calc(50% - 24px);animation:rotation 1s linear infinite}.loader-default[data-half]:after{border-right-color:transparent}.loader-default[data-inverse]:after{animation-direction:reverse}
